# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
uv.lock

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# VICE / C64
*.d64.bak
*.tap
*.snapshot
